{% extends "base.html" %}
{% block content %}
<br><br><br>
<div class="container">
  <div class="jumbotron">
  <h1 class="display-3">VIU Blog!</h1>
  <p class="lead">Virginia International University Blog Site.</p>
  <hr class="my-4">
  <p>VIU is offering and supported by the Centre for Innovation and Excellence in Learning at Virginia International University. VIU blogs can be used by faculty, Staffs, Students to create a group, join a group and post in group contribute to teaching and learning blogs and can access course content.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

</div>

{% endblock %}
